<nav class="navbar navbar-expand-md fixed-top py-4 bg-second-color navbar-dark">
  <div class="container">
    <a class="navbar-brand fw-bold fs-2 text-uppercase" href="#">Angular</a>
    <button
      class="navbar-toggler d-lg-none"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#collapsibleNavId"
      aria-controls="collapsibleNavId"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="collapsibleNavId">
      <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
        <li class="nav-item">
          <a
            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
            href="#"
            >About</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
            href="#"
            >Portfolio</a
          >
        </li>
        <li class="nav-item">
          <a
            class="nav-link text-white text-uppercase fw-bold mt-3 mt-md-0 px-2"
            href="#"
            >Contact</a
          >
        </li>
      </ul>
    </div>
  </div>
</nav>
